

.update_button_wrap {
  margin-left: 50vw;
  padding: 20px;
}





.about_button_wrap {
  padding: 30px;
}




.about_name {
  background-color: rgba(0,0,0,0);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  border: solid black 1px;
  box-sizing: border-box;
  border-radius: 15px;
}



.profile_img {
  padding: 10px;
}



.profile_img img {
  object-fit: contain;
  width: 294px;
}




.about_jobtitle {
  margin-top: 15px;
  color: blueviolet;
}



.about_info_title {

}



.about_info_text {

}
