


.main_wrap {
  background-color:coral;
}




.update_button_wrap {
  margin-left: 50vw;
  padding: 20px;
}





.about_button_wrap {
  padding: 30px;
}



.profile_img img {
  object-fit: contain;
  width: 294px;
}
