



.login_wrap {
  background-color: #292246;
  height: 543px;
  padding: 10px;
  margin-top: 10px;
}



.login_wrap form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
}
