

.update_button_wrap {
  margin-left: 50vw;
  padding: 20px;
}





.about_button_wrap {
  padding: 30px;
}




.about_name {

}




.profile_img img {
  object-fit: contain;
  width: 294px;
}




.about_jobtitle {

}



.about_info_title {

}



.about_info_text {

}
