@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap");
body {
  font-family: "JetBrains Mono", monospace;
  /* background-color: black; */
}

li {
  list-style: none;
}

/*
p, h1, h2, h3, h4, h5, h6, label{
  color: white;
} */


button {
  /* background-color: transparent;
  padding: 5px;
  border-color: transparent;
  color: white; */
  font-family: "JetBrains Mono", monospace;
}

button:hover {
  /* color: blue; */
  cursor: pointer;
}

a {
  text-decoration: none;
  /* color: white; */
  font-family: "JetBrains Mono", monospace;
}

a:hover {
  /* color: blue; */
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*
nav {
  background: black;
  padding: 0 15px;
} */



/*
img {
  object-fit: contain;
  width: 294px;
} */

svg {
  font-size: 30px;
}



/*
input {
    background-color: transparent;
    border: solid white .1px;
    color: white;
    width: 160px;
    height: 30px;
}


textarea {
    width: 500px;
    height: 225px;
    background-color: transparent;
    color: white;
} */


.hide {
  display: none;
}


/*

.profile_pic_wrap {
  position: absolute;
  top: 55%;
  right: 25%;
}



.profile_pic_wrap img {
  object-fit: contain;
  width: 100px;
  height: 550px;
} */
