

.about_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}



.about_wrap h1 {
  color: white;
  background-color: #292246;
  padding: 10px;
  border-radius: 10px;
}



.about_wrap h3 {
  color: white;
  background-color: #292246;
  padding: 10px;
  border-radius: 10px;
}



.social_links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 40vw;
}



.social_links div {
  background-color: #292246;
  padding: 10px;
  border-radius: 5px;
}




.social_links a {
  color: white;
}



.detail_wrap:hover {
  cursor: pointer;
}



.detail_wrap:hover h1 {
  color: #007bff;
}



.detail_wrap:hover h3 {
  color: #007bff;
}



.profile_img {

}



.profile_img img {
  object-fit: contain;
  width: 15vw;
  border-radius: 15px;
}




.about_text {

}



.about_text p {
  color: white;
}



.projects_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: white;
}




.projects_wrap h1 {
  color: black;
}




.project_button_wrap {
  display: flex;
  width: 70vw;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}



.skill_button_wrap {
  display: flex;
  width: 70vw;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
